Repository Lydanne/gitea-oidc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

chore: 添加 Node.js 版本配置文件
  .node-version
  .npmrc
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  scripts/preinstall.js
Due: biome check --write --no-errors-on-unmatched

chore: 升级 pnpm 版本并简化 CI 配置
  .github/workflows/ci-check.yml
  .github/workflows/release.yml
  package.json
Due: biome check --write --no-errors-on-unmatched

chore: 优化 CI 工作流配置
  .github/workflows/ci-check.yml
Due: none

chore: 优化 release 工作流触发条件
  .github/workflows/release.yml
Due: none

chore: 统一文档格式并移除多余空行
  .markdownlint.json
  README.md
  docs/ADAPTER_CONFIGURATION.md
  docs/ADAPTER_FACTORY_SUMMARY.md
  docs/AUTH_PLUGIN_DESIGN.md
  docs/COMPLETE_IMPLEMENTATION_SUMMARY.md
  docs/FEISHU_LOGIN_SETUP.md
  docs/FEISHU_PLUGIN_GUIDE.md
  docs/FEISHU_SDK_MIGRATION.md
  docs/FILES_CLEANUP_SUMMARY.md
  docs/HASH_ID_GENERATION.md
  docs/INTEGRATION_COMPLETE.md
  docs/OIDC_HELP.md
  docs/P0_IMPLEMENTATION_STATUS.md
  docs/P0_IMPROVEMENTS.md
  docs/P1_COMPLETE.md
  docs/P1_IMPROVEMENTS.md
  docs/PRODUCTION_SETUP.md
  docs/PRODUCTION_WARNINGS.md
  docs/PRODUCTION_WARNINGS_SOLUTION.md
  docs/QUICK_START.md
  docs/REDIS_ADAPTER_GUIDE.md
  docs/REVERSE_PROXY_HTTPS.md
  docs/SERVER_INTEGRATION_GUIDE.md
  docs/SERVER_USAGE.md
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

chore: 将原生模块重建命令从 pnpm 改为 npm
  .github/workflows/ci-check.yml
Due: none

chore: 升级 Codecov action 版本并简化配置
  .github/workflows/ci-check.yml
Due: none

chore: 在 GitHub release 中添加 changelog 作为发布说明
  .release-it.json
Due: biome check --write --no-errors-on-unmatched

feat: 添加 OIDC 登出后重定向 URI 配置支持
  README.en.md
  README.md
  example.gitea-oidc.config.json
  src/config.ts
  src/schemas/configSchema.ts
  src/types/config.ts
  src/utils/__tests__/configValidator.test.ts
  src/utils/configValidator.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: 添加 AI 代理技能系统用于开发工作流指导
  .agents/skills/gitea-oidc-auth-provider/SKILL.md
  .agents/skills/gitea-oidc-auth-provider/agents/openai.yaml
  .agents/skills/gitea-oidc-auth-provider/references/auth-provider-map.md
  .agents/skills/gitea-oidc-config-safety/SKILL.md
  .agents/skills/gitea-oidc-config-safety/agents/openai.yaml
  .agents/skills/gitea-oidc-config-safety/references/config-safety-checklist.md
  .agents/skills/gitea-oidc-engineering-quality/SKILL.md
  .agents/skills/gitea-oidc-engineering-quality/agents/openai.yaml
  .agents/skills/gitea-oidc-engineering-quality/references/architecture-map.md
  .agents/skills/gitea-oidc-engineering-quality/references/change-playbook.md
  .agents/skills/gitea-oidc-engineering-quality/references/quality-rubric.md
  .agents/skills/gitea-oidc-engineering-quality/references/testing-strategy.md
  .agents/skills/gitea-oidc-oidc-storage/SKILL.md
  .agents/skills/gitea-oidc-oidc-storage/agents/openai.yaml
  .agents/skills/gitea-oidc-oidc-storage/references/adapter-contract.md
  .agents/skills/gitea-oidc-release-quality/SKILL.md
  .agents/skills/gitea-oidc-release-quality/agents/openai.yaml
  .agents/skills/gitea-oidc-release-quality/references/release-checks.md
  AGENTS.md
Due: markdownlint-cli2 --fix

feat: 添加文档质量技能用于文档编写和维护工作流
  .agents/skills/gitea-oidc-docs-quality/SKILL.md
  .agents/skills/gitea-oidc-docs-quality/agents/openai.yaml
  .agents/skills/gitea-oidc-docs-quality/references/cleanup-checklist.md
  .agents/skills/gitea-oidc-docs-quality/references/organization-rules.md
  .agents/skills/gitea-oidc-docs-quality/references/validation.md
  .agents/skills/gitea-oidc-docs-quality/references/writing-style.md
  .agents/skills/gitea-oidc-engineering-quality/SKILL.md
  AGENTS.md
  README.en.md
  README.md
  docs/ADAPTER_FACTORY_SUMMARY.md
  docs/COMPLETE_IMPLEMENTATION_SUMMARY.md
  docs/FEISHU_LOGIN_SETUP.md
  docs/FEISHU_PLUGIN_GUIDE.md
  docs/FEISHU_SDK_MIGRATION.md
  docs/FILES_CLEANUP_SUMMARY.md
  docs/INTEGRATION_COMPLETE.md
  docs/P0_IMPLEMENTATION_STATUS.md
  docs/P0_IMPROVEMENTS.md
  docs/P1_COMPLETE.md
  docs/P1_IMPROVEMENTS.md
  docs/PRODUCTION_WARNINGS.md
  docs/PRODUCTION_WARNINGS_SOLUTION.md
  docs/QUICK_START.md
  docs/README.md
  docs/REDIS_ADAPTER_GUIDE.md
  docs/SERVER_INTEGRATION_GUIDE.md
  docs/SERVER_USAGE.md
  docs/dev/AUTH_PLUGIN_DESIGN.md
  docs/dev/PLUGIN_ROUTES_GUIDE.md
  docs/dev/README.md
  docs/dev/RELEASE_AND_CI_CD.md
  docs/log.yaml
  docs/log2.yaml
Due: markdownlint-cli2 --fix

feat: 添加 AI 草案技能和 docs/spec/ 目录用于临时方案管理
  .agents/skills/gitea-oidc-docs-quality/SKILL.md
  .agents/skills/gitea-oidc-docs-quality/references/cleanup-checklist.md
  .agents/skills/gitea-oidc-docs-quality/references/organization-rules.md
  .agents/skills/gitea-oidc-engineering-quality/SKILL.md
  .agents/skills/gitea-oidc-spec-drafts/SKILL.md
  .agents/skills/gitea-oidc-spec-drafts/agents/openai.yaml
  .agents/skills/gitea-oidc-spec-drafts/references/promotion-rules.md
  .agents/skills/gitea-oidc-spec-drafts/references/spec-lifecycle.md
  .agents/skills/gitea-oidc-spec-drafts/references/spec-template-rules.md
  AGENTS.md
  docs/dev/README.md
  docs/spec/README.md
  docs/spec/TEMPLATE.md
Due: markdownlint-cli2 --fix

feat: 更新 OIDC issuer 示例路径并完善 Provider API 接入文档
  README.md
  docs/ADAPTER_CONFIGURATION.md
  docs/ADMIN_AND_PROVIDER_API.md
  docs/PRODUCTION_SETUP.md
  docs/QUICK_START.md
  docs/REVERSE_PROXY_HTTPS.md
  docs/SERVER_USAGE.md
  example.gitea-oidc.config.json
  public/admin/app.js
  public/admin/style.css
  src/config.ts
  src/provider-api/DingTalkProviderApiClient.ts
  src/provider-api/__tests__/DingTalkProviderApiClient.test.ts
  src/providers/__tests__/FeishuAuthProvider.test.ts
  src/repositories/__tests__/MemoryUserRepository.test.ts
  src/repositories/__tests__/PgsqlProviderTokenRepository.test.ts
  src/repositories/__tests__/SqliteProviderTokenRepository.test.ts
  src/repositories/__tests__/SqliteUserRepository.test.ts
  src/routes/__tests__/adminRoutes.test.ts
  src/routes/__tests__/providerApiRoutes.test.ts
  src/sdk/__tests__/express.test.ts
  src/sdk/__tests__/nest.test.ts
  src/sdk/__tests__/vue.test.ts
  src/sdk/nest.ts
  src/types/config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: 添加管理台登录页面并支持登录后返回原页面
  admin-src/src/App.vue
  admin-src/src/api/adminApi.ts
  admin-src/src/router.ts
  admin-src/src/styles.css
  admin-src/src/views/LoginView.vue
  docs/ADMIN_AND_PROVIDER_API.md
  docs/dev/PROVIDER_API_DESIGN.md
  public/admin/assets/LoginView-Bd0TXeNu.js
  public/admin/assets/ProvidersView-7VhfH33v.js
  public/admin/assets/ProvidersView-MXDgUzUl.js
  public/admin/assets/StatusTag-C9dHEZI_.js
  public/admin/assets/StatusTag-C_SH-n9j.js
  public/admin/assets/TokensView-BGz-gftA.js
  public/admin/assets/TokensView-DwNTXBrb.js
  public/admin/assets/UsersView-DZ3b7dJt.js
  public/admin/assets/UsersView-kBRUZbvR.js
  public/admin/assets/button-BE9nFvPw.js
  public/admin/assets/format-MZwUJ0E7.js
  public/admin/assets/index-78L3reWA.js
  public/admin/assets/index-DLEHgcNN.js
  public/admin/assets/index-Da3QfhQC.css
  public/admin/assets/index-lZyJAbtI.css
  public/admin/index.html
  src/admin/AdminSessionStore.ts
  src/routes/__tests__/adminRoutes.test.ts
  src/routes/adminRoutes.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

docs(gitea-oidc): 新增单仓多包接入架构草案
  docs/spec/2026-07-10-monorepo-application-sdk-architecture.md
Due: markdownlint-cli2 --fix

feat(applications): 新增公开连接配置接口
  packages/applications/src/__tests__/applicationService.test.ts
  packages/applications/src/applicationService.ts
  packages/server-core/src/applications/applicationRuntime.ts
  packages/server-core/src/routes/__tests__/adminRoutes.test.ts
  packages/server-core/src/routes/adminRoutes.ts
Due: biome check --write --no-errors-on-unmatched

feat(admin-web): 新增接入配置下载
  apps/admin-web/src/api/adminApi.ts
  apps/admin-web/src/types/admin.ts
  apps/admin-web/src/views/ApplicationsView.vue
  docs/APPLICATION_MANAGEMENT.md
  packages/server-core/public/admin/assets/ApplicationsView-C0IMUZFr.js
  packages/server-core/public/admin/assets/ApplicationsView-DhQJKOuL.js
  packages/server-core/public/admin/assets/LoginView-COeYcB4g.js
  packages/server-core/public/admin/assets/LoginView-DRHwKxgE.js
  packages/server-core/public/admin/assets/ProvidersView-BsS5kgD2.js
  packages/server-core/public/admin/assets/ProvidersView-CFdGGSH-.js
  packages/server-core/public/admin/assets/StatusTag-B9GnbfI6.js
  packages/server-core/public/admin/assets/StatusTag-CgkutKkQ.js
  packages/server-core/public/admin/assets/TokensView-34VmVy4d.js
  packages/server-core/public/admin/assets/TokensView-Bx1GKRno.js
  packages/server-core/public/admin/assets/UsersView-CIiRovG_.js
  packages/server-core/public/admin/assets/UsersView-UwDc9GiR.js
  packages/server-core/public/admin/assets/index-D-5MksYK.js
  packages/server-core/public/admin/assets/index-Dfjg1ipL.js
  packages/server-core/public/admin/index.html
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat(contracts): 扩展应用模版表单字段契约
  packages/contracts/README.md
  packages/contracts/src/__tests__/contracts.test.ts
  packages/contracts/src/templateApplication.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat(application-templates): 新增 Gitea V2 模版
  packages/application-templates/README.md
  packages/application-templates/src/__tests__/catalog.test.ts
  packages/application-templates/src/__tests__/giteaV1.test.ts
  packages/application-templates/src/__tests__/giteaV2.test.ts
  packages/application-templates/src/giteaV1.ts
  packages/application-templates/src/giteaV2.ts
  packages/application-templates/src/index.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

test(applications): 补充 Gitea V2 模版目录覆盖
  packages/applications/src/__tests__/applicationService.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(cli): 固定诊断请求的 DNS 解析结果
  packages/cli/src/__tests__/connectionDoctor.test.ts
  packages/cli/src/__tests__/nodeDependencies.test.ts
  packages/cli/src/dependencies.ts
  packages/cli/src/doctor.ts
  packages/cli/src/nodeDependencies.ts
Due: biome check --write --no-errors-on-unmatched

feat(admin-web): 新增审计日志并完善应用配置
  apps/admin-web/src/api/__tests__/adminApi.test.ts
  apps/admin-web/src/api/adminApi.ts
  apps/admin-web/src/components/AppShell.vue
  apps/admin-web/src/components/ApplicationCredentialDetails.vue
  apps/admin-web/src/components/ApplicationFormFields.vue
  apps/admin-web/src/components/ApplicationTemplateFormFields.vue
  apps/admin-web/src/components/UserDetailList.vue
  apps/admin-web/src/components/UserFormFields.vue
  apps/admin-web/src/router.ts
  apps/admin-web/src/styles.css
  apps/admin-web/src/types/admin.ts
  apps/admin-web/src/utils/__tests__/applicationForm.test.ts
  apps/admin-web/src/utils/__tests__/userGroups.test.ts
  apps/admin-web/src/utils/applicationForm.ts
  apps/admin-web/src/utils/userForm.ts
  apps/admin-web/src/utils/userGroups.ts
  apps/admin-web/src/views/ApplicationsView.vue
  apps/admin-web/src/views/AuditLogsView.vue
  apps/admin-web/src/views/UsersView.vue
Due: biome check --write --no-errors-on-unmatched

docs(gitea-oidc): 完善生产部署与 Gitea 接入文档
  README.en.md
  README.md
  docs/ADAPTER_CONFIGURATION.md
  docs/ADMIN_AND_PROVIDER_API.md
  docs/APPLICATION_MANAGEMENT.md
  docs/FEISHU_PLUGIN_GUIDE.md
  docs/GITEA_INTEGRATION.md
  docs/OPERATIONS.md
  docs/PRODUCTION_SETUP.md
  docs/QUICK_START.md
  docs/README.md
  docs/REDIS_ADAPTER_GUIDE.md
  docs/REVERSE_PROXY_HTTPS.md
  docs/SERVER_USAGE.md
  example.gitea-oidc.config.json
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

fix(gitea-oidc): 修复集成包冷缓存安装
  scripts/check-integration-packs.mjs
Due: none

fix(contracts): 修复消费测试依赖安装
  packages/contracts/scripts/check-pack.mjs
Due: none

fix(gitea-oidc): 恢复依赖安全审计
  package.json
  pnpm-lock.yaml
  scripts/audit-dependencies.mjs
Due: biome check --write --no-errors-on-unmatched

feat(application-templates): 新增 Gitea 1.27 模板支持
  docs/APPLICATION_MANAGEMENT.md
  docs/GITEA_INTEGRATION.md
  packages/application-templates/README.md
  packages/application-templates/src/__tests__/catalog.test.ts
  packages/application-templates/src/__tests__/giteaV3.test.ts
  packages/application-templates/src/giteaV3.ts
  packages/application-templates/src/index.ts
  packages/applications/src/__tests__/applicationService.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

refactor(gitea-oidc): 优化认证与配置处理
  docs/ADMIN_AND_PROVIDER_API.md
  docs/APPLICATION_MANAGEMENT.md
  docs/GITEA_INTEGRATION.md
  docs/OPERATIONS.md
  packages/application-templates/README.md
  packages/application-templates/src/__tests__/giteaV3.test.ts
  packages/application-templates/src/giteaV3.ts
  packages/applications/src/__tests__/applicationService.test.ts
  packages/applications/src/applicationService.ts
  packages/applications/src/persistenceSchemas.ts
  packages/applications/src/types.ts
  packages/server-core/scripts/check-pack.mjs
  packages/server-core/src/__tests__/config.test.ts
  packages/server-core/src/__tests__/server.test.ts
  packages/server-core/src/applications/__tests__/applicationRuntime.test.ts
  packages/server-core/src/applications/applicationRuntime.ts
  packages/server-core/src/config.ts
  packages/server-core/src/identityServer.ts
  packages/server-core/src/routes/adminRoutes.ts
  packages/server-core/src/schemas/configSchema.ts
  packages/server-core/src/types/config.ts
  packages/server-core/src/utils/__tests__/configValidator.test.ts
  packages/server-core/src/utils/adminClient.ts
  packages/server-core/src/utils/configValidator.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat(contracts): 新增用户门户应用契约
  packages/contracts/src/__tests__/contracts.test.ts
  packages/contracts/src/application.ts
  packages/contracts/src/customApplication.ts
  packages/contracts/src/index.ts
  packages/contracts/src/portalApplication.ts
  packages/contracts/src/schemaPrimitives.ts
  packages/contracts/src/templateApplication.ts
Due: biome check --write --no-errors-on-unmatched

feat(applications): 支持用户门户应用配置
  packages/applications/src/__tests__/applicationService.test.ts
  packages/applications/src/__tests__/sqliteApplicationRepository.test.ts
  packages/applications/src/applicationService.ts
  packages/applications/src/types.ts
Due: biome check --write --no-errors-on-unmatched

feat(admin-web): 新增应用门户配置界面
  apps/admin-web/src/components/ApplicationFormFields.vue
  apps/admin-web/src/components/ApplicationPortalFormFields.vue
  apps/admin-web/src/components/ApplicationTemplateFormFields.vue
  apps/admin-web/src/styles.css
  apps/admin-web/src/types/admin.ts
  apps/admin-web/src/utils/__tests__/applicationForm.test.ts
  apps/admin-web/src/utils/applicationForm.ts
  apps/admin-web/src/views/ApplicationsView.vue
Due: biome check --write --no-errors-on-unmatched

feat(portal-web): 新增内部应用导航门户
  apps/portal-web/index.html
  apps/portal-web/package.json
  apps/portal-web/src/App.vue
  apps/portal-web/src/api/__tests__/portalApi.test.ts
  apps/portal-web/src/api/portalApi.ts
  apps/portal-web/src/main.ts
  apps/portal-web/src/runtimeConfig.ts
  apps/portal-web/src/styles.css
  apps/portal-web/src/types/portal.ts
  apps/portal-web/src/utils/__tests__/format.test.ts
  apps/portal-web/src/utils/__tests__/runtimeConfig.test.ts
  apps/portal-web/src/utils/format.ts
  apps/portal-web/tsconfig.json
  apps/portal-web/vite.config.ts
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,json}
  markdownlint-cli2 --fix: any of: *.md
