Repository Lydanne/gitea-oidc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat(gitea-oidc): 接入用户门户构建流程
  biome.json
  example.gitea-oidc.config.json
  package.json
  pnpm-lock.yaml
  scripts/check-workspace-boundaries.mjs
Due: biome check --write --no-errors-on-unmatched

build(server-core): 完善 npm 发布准备流程
  packages/server-core/.release-it.json
  packages/server-core/package.json
  packages/server-core/scripts/check-pack.mjs
Due: biome check --write --no-errors-on-unmatched

build(gitea-oidc): 完善自动发布与镜像构建
  .dockerignore
  .github/workflows/ci-check.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .gitignore
  .htpasswd
  Dockerfile
  gitea-server/config/.gitkeep
  gitea-server/config/app.ini
  package.json
  scripts/check-docker-image.mjs
  scripts/check-sensitive-files.mjs
  scripts/release/assert-version-sync.mjs
  scripts/release/create-tarball.mjs
  scripts/release/plan-version.mjs
  scripts/release/plan-version.test.mjs
  scripts/release/publish-metadata.mjs
  scripts/release/publish-metadata.test.mjs
  scripts/release/sensitive-value-detection.mjs
  scripts/release/sensitive-value-detection.test.mjs
  scripts/release/sync-version.mjs
  tests/create-test-htpasswd.mjs
  tests/run.sh
  tests/test.sh
Due: biome check --write --no-errors-on-unmatched

docs(server-core): 完善门户与容器使用说明
  packages/server-core/README.en.md
  packages/server-core/README.md
Due: markdownlint-cli2 --fix

docs(gitea-oidc): 完善门户部署与发布指南
  README.en.md
  README.md
  docs/APPLICATION_MANAGEMENT.md
  docs/FEISHU_PLUGIN_GUIDE.md
  docs/GITEA_INTEGRATION.md
  docs/OPERATIONS.md
  docs/PRODUCTION_SETUP.md
  docs/QUICK_START.md
  docs/README.md
  docs/SERVER_USAGE.md
  docs/USER_PORTAL.md
  docs/dev/README.md
  docs/dev/RELEASE_AND_CI_CD.md
Due: markdownlint-cli2 --fix

ci(x-oidc): 强制自动提交与提交校验
  .agents/skills/x-oidc-docs-quality/SKILL.md
  .agents/skills/x-oidc-engineering-quality/SKILL.md
  .agents/skills/x-oidc-engineering-quality/references/commit-workflow.md
  .agents/skills/x-oidc-release-quality/SKILL.md
  .agents/skills/x-oidc-release-quality/references/release-checks.md
  .commit-policy-version
  .github/workflows/ci-check.yml
  .github/workflows/prepare-release.yml
  .husky/commit-msg
  AGENTS.md
  commitlint.config.js
  docs/dev/DEVELOPMENT_WORKFLOW.md
  docs/dev/README.md
  docs/dev/RELEASE_AND_CI_CD.md
  package.json
  scripts/check-commit-range.mjs
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,json}
  markdownlint-cli2 --fix: any of: *.md
